@mixin button($color, $text-color, $height, $width) {
  background: $color;
  border-radius: 0.3125em;
  box-shadow: 0 0.1875em 0 0 darken($color, 20%);
  border: 0;
  color: $text-color;
  cursor: pointer;
  height: $height;
  width: $width;
  &:hover {
    background: darken($color, 10%);
  }
  &:active {
    background: darken($color, 20%);
    box-shadow: 0 0.0625em 0 0;
    transform: translate(0, 0.1875em);
  }
  &:focus {
    outline: none;
  }
}
