@mixin button($color, $text-color, $height, $width) {
  button {
    background: $color;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 darken($color, 20%);
    border: 0;
    color: $text-color;
    cursor: pointer;
    height: $height;
    text-transform: uppercase;
    width: $width;
    p {
      color: $text-color;
      font-family: $secondary-font;
      font-weight: $regular;
    }
    &:hover {
      background: darken($color, 10%);
    }
    &:active {
      background: darken($color, 20%);
      box-shadow: 0 1px 0 0;
      color: darken($color, 20%);
      transform: translate(0, 3px);
      p {
        color: $text-color;
      }
    }
    &:focus {
      outline: none;
    }
  }
}

@mixin input {
  input {
    border-radius: 5px;
    border: 1px solid $dark-grey;
    border-bottom: 0;
    box-shadow: 0 3px 0 0 $dark-grey;
    margin-top: 2em;
    padding: 1em;
    outline: 0;
    &:hover {
      border: 1px solid darken($dark-grey, 30%);
      border-bottom: 0;
    }
    &:focus {
      border: 1px solid darken($dark-grey, 50%);
      border-bottom: 0;
    }
  }
}
