body {
  background: $background !important;
}

.landing__splash {
  background: url('images/background.png');
  background-color: $background;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondary-color;
  height: 110vh;
  text-align: center;

  h1 {
    font-size: $h1-font-size;
    font-weight: $bold;
    margin-top: 1em;
  }

  p {
    span {
      color: $blue;
      &:last-child {
        color: $orange;
      }
    }
    margin-bottom: 0;
  }

  img {
    margin-top: 6em;
    width: 13.75em;
  }


  @include button($green, $black, 3em, 10em);
  button {
    font-size: 1rem;
    display: block;
    margin: 8rem auto 0 auto;
  }
}

@media (max-device-width: 500px) {
  .landing__splash {
    img {
      margin-top: 5em;
      width: 10em;
    }

    button {
      margin-top: 3em;
    }
  }
}


.landing__info {
  align-items: center;
  background: $secondary-color;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;

  img {
    width: 14.0625em;
  }

  p {
    color: $dark-grey;
    font-size: 0.9375em;
    margin-top: 2em;
    text-align: center;
    width: 40%;
    a {
      color: $dark-red;
      &:last-child {
        color: $blue;
      }
    }
  }
}

@media (max-width: 950px) {
  .landing__info {
    img {
      width: calc(10em + 0.5vh);
    }

    p {
      font-size: calc(0.6em + 0.5vh);
      width: 90%;
    }
  }
}

@media (max-width: 320px) {
  .landing__info {
    img {
      margin-top: 1.5em;
    }
  }
}

.landing__footer {
  align-items: center;
  background: $green;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  height: 7vh;

  p {
    color: $dark-green;
    font-size: 0.8em;
    font-weight: $bold;
    margin-bottom: 0;
    a {
      color: $dark-green;
    }
  }
}

.login {
  padding: 10vh;
  @media (max-width: 600px) {
    padding: 5vh 7vh;
  }
}

.login__wrapper {
  height: 80vh;
  @media (max-width: 600px) {
    height: 90vh;
  }
}

.login__form {
  align-items: center;
  background: $orange;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 0 !important;

  h1 {
    color: darken($orange, 30%);
    font-weight: $bold;
  }

  p {
    font-family: $primary-font;
    font-weight: $regular;
  }

  form {
    text-align: center;
    width: 75%;

    @include input;
    input {
      width: 100%;
    }

    @include button($green, $secondary-color, 3em, 12em);
    button {
      margin-top: 2em;
    }
    @media (max-width: 600px) {
      button {
        width: 100%;
      }
    }
  }

  .login__form__small-paragraph {
    font-family: $secondary-font;
    font-size: 0.95em;
    margin-top: 0.5em;
    &:hover {
      color: #0275d8;
    }
  }
}


@media (min-width: 768px) {
  .login__splash {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://d13yacurqjgara.cloudfront.net/users/99875/screenshots/2002428/jurassic-park2.gif');
    background-position: 50% 50%;
    background-repeat: none;
    background-size: cover;
    height: 100%;
  }
}

.signup {
  padding: 10vh;
}

@media (max-width: 600px) {
  .signup {
    padding: 5vh;
  }
}

@media (max-width: 600px) {
  .signup__form-container {
    height: 95vh;
    padding: 0;
}

.signup__form-container {
  background: $orange;
  height: 80vh;

  .signup__form {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;

    h1 {
        font-weight: $bold;
        color: darken($orange, 30%);
    }

    @include input;
    input {
      width: 90%;
    }

    @include button($green, $secondary-color, 3em, 12em);
    button {
      margin-top: 3em;
    }

    @media (max-width: 600px) {
      button {
        width: 90%;
      }
    }
  }
}

@media (max-width: 600px) {
  .signup__form-container {
    height: 100vh;
  }
}

.site-creator {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('https://d13yacurqjgara.cloudfront.net/users/936407/screenshots/2449702/sad_dino_1nstudio.gif');
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 15%;
  text-align: center;

  h1 {
    color: $orange;
    font-weight: $bold;
  }

  form {
    align-items: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include input;
    input {
      margin-top: 1em;
      width: 90%;
    }

    @include button($green, $secondary-color, 3em, 12em);
    button {
      margin-top: 2em;
    }
  }
}

@media (max-width: 767px) {
  .site-creator {
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('https://d13yacurqjgara.cloudfront.net/users/936407/screenshots/2449702/sad_dino_1nstudio.gif');
    background-position: center;
    background-size: cover;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding: 0;

    form {
      button {
        margin-top: 1em;
        width: 90%;
      }
    }
  }
}

.site-list {
  background: $green;
  height: 100vh;
  overflow: scroll;
}

.site-list__tile {
  align-items: center;
  background: darken($green, 7%);
  border: 0.5px solid $background;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 33.33vh;
  &:hover {
    background: darken($green, 10%);
  }
  &:active {
    background: darken($green, 15%);
  }
  &:nth-child(odd) {
    border-left: 0;
  }
  &:nth-child(even) {
    border-right: 0;
  }

  h1 {
    color: $secondary-color;
    font-weight: $light;
    text-transform: none;
  }
}

.site-config {
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  h1 {
    color: $orange;
    font-weight: $bold;
  }

  form {
    width: 40%;

    @include input;
    input {
      margin-top: 0;
      width: 100%;
      &:first-child {
        width: 75%;
      }
    }

    button {
      font-family: $primary-font;
      text-transform: none;
    }

    .site-config__copy-button {
      @include config-button($blue, $secondary-color, 57px, 20%);
      float: right;
      text-transform: none;
    }

    .site-config__update-button {
      @include config-button($orange, darken($dark-grey, 30%), 3em, 6em);
      width: 45%;
    }

    .site-config__delete-button {
      @include config-button($red, $secondary-color, 3em, 6em);
      float: right;
      width: 45%;
    }

    .site-config__back-button {
      @include config-button($secondary-color, darken($dark-grey, 30%), 3em, 6em);
      width: 100%;
    }

    .site-config__update-button, .site-config__delete-button {
      margin-top: 3em;
    }

    .site-config__back-button {
      margin-top: 1em;
    }

  }
}
