body {
  background: $background !important;
}

.landing__splash {
  background: url('images/background.png');
  background-color: $background;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondary-color;
  height: 110vh;
  text-align: center;

  h1 {
    font-size: $h1-font-size;
    font-weight: $bold;
    margin-top: 1em;
  }

  p {
    span {
      color: $blue;
      &:last-child {
        color: $orange;
      }
    }
    margin-bottom: 0;
  }

  img {
    margin-top: 6em;
    width: 13.75em;
  }

  button {
    font-family: $secondary-font;
    font-size: 1rem;
    display: block;
    margin: 8rem auto 0 auto;
    text-transform: uppercase;

    @include button($green, $black, 3em, 10em);
  }
}

@media (max-device-width: 500px) {
  .landing__splash {
    img {
      margin-top: 5em;
      width: 10em;
    }

    button {
      margin-top: 3em;
    }
  }
}


.landing__info {
  align-items: center;
  background: $secondary-color;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;

  img {
    width: 14.0625em;
  }

  p {
    color: $dark-grey;
    font-size: 0.9375em;
    margin-top: 2em;
    text-align: center;
    width: 40%;
    a {
      color: $dark-red;
      &:last-child {
        color: $blue;
      }
    }
  }
}

@media (max-width: 950px) {
  .landing__info {
    img {
      width: calc(10em + 0.5vh);
    }

    p {
      font-size: calc(0.6em + 0.5vh);
      width: 90%;
    }
  }
}

@media (max-width: 320px) {
  .landing__info {
    img {
      margin-top: 1.5em;
    }
  }
}

.landing__footer {
  align-items: center;
  background: $green;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  height: 7vh;

  p {
    color: $dark-green;
    font-size: 0.8em;
    font-weight: $bold;
    margin-bottom: 0;
    a {
      color: $dark-green;
    }
  }
}
