$red: #fb4f4f;
$dark-red: #df4e5e;
$blue: #4ca4ec;
$background: #27355a;
$orange: #f9bb3c;
$green: #1dcb8b;
$dark-green: #097b51;
$grey: #d4d5d6;
$dark-grey: #a9a9ab;
$secondary-color: #fff;
$black: #000;
